{{ define "home.html" }}
<!doctype html>
<html>
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<title>Cronic Scheduler</title>
		<link href="/static/pico.css" rel="stylesheet">
		<link href="/static/pico.colors.css" rel="stylesheet">
		<script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.6/dist/htmx.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/htmx-ext-sse@2.2.2"></script>
		<style>
			:root {
				--pico-font-size: 14px;
			}
			.bold { font-weight: bold; }
			th, tbody tr:last-child td { border-bottom: 2px solid black; }
		</style>
	</head>
	<body hx-ext="sse" sse-connect="/sse?stream=updates">
		<main class="container">
			<h3>Cronic Scheduler</h3>
			{{ template "jobs.html" . }}
		</main>
	</body>
</html>
{{ end }}
